.card {
    width: 350px;
    margin: auto;
    margin-top: 50px;
}

.card li{
    height: 50px;
}

.card-header{
    text-align: center;
    font-weight: bold;
    background-color: rgba(159, 155, 155, 0.65);
}