<div class="card">
    <div class="card-header">
      Mon Profil
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span style="font-weight: bold; font-size: 20px;">Prénom : </span>{{currentUser.firstname}}</li>
      <li class="list-group-item"><span style="font-weight: bold; font-size: 20px;">Nom : </span>{{currentUser.lastname}}</li>
      <li class="list-group-item"><span style="font-weight: bold; font-size: 20px;">Username : </span>{{currentUser.username}}</li>
      <li class="list-group-item"><span style="font-weight: bold; font-size: 20px;">Email : </span>{{currentUser.email}}</li>
      <li class="list-group-item"><span style="font-weight: bold; font-size: 20px;">Fonctionnalité : </span>{{currentUser.fonctionnalite}}</li>
      <a routerLink="/vendre" class="btn btn-primary" *ngIf="currentUser.fonctionnalite==='vendeur'">Vendre</a>
    </ul>
</div>